/* Gerais */
* {
    margin: 0;
    padding: 0;
}

.btn {
    width: 130px;
}

.btn-sm {
    width: 60px;
    height: 30px;
}

/* Header */
#header-area {
    background: #333333;
    border-bottom: 1px solid #ff0000;
}

#logo {
    width: 100px;
}

.nav-link {
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.nav-item {
    color: #9d9d9d;
}

.nav-item:hover {
    color: #ffffff;
}

/* main */

main {
    background: #f1f1f1;
}

#main-area {
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px #888888;
    padding: 10px 0;
}

#conteudo-titulo {
    margin-bottom: 30px;
}

#card-primary:hover {
    box-shadow: 0px 0px 10px 0px #0d6efd;
}
#card-success:hover {
    box-shadow: 0px 0px 10px 0px #198754;

}#card-warning:hover {
    box-shadow: 0px 0px 10px 0px #ffc107;
}

/* calendario */

.row {
    display: flex;
    justify-content: center;
}

#tabela {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

#tabela thead tr th {
    border: 1px solid #000000;
    height: 50px;
}

#tabela tbody tr th {
    background: #b4d2ff;
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
}

#td_dia {
    border: 1px solid #000000;
    width: 50px;
    height: 50px;
}

#td_dia:hover {
    background: #b4d2ff;
}

#a_dia {
    text-decoration: none;
    font-size: 1.8rem;
    color:#000000;
}

#a_dia:hover {
    color: #080808;
    text-shadow: 0px 0px 10px 0px #080808;
}

/* formularios */

#formulario {
    margin: 15px;
}








/* footer */
#footer-area {
    background: #555555;
    padding: 10px 0;
    text-align: center;
}

#footer-area p {
    margin: 10px 0;
    color: #ffffff;
}