/* Gerais */
* {
    margin: 0;
    padding: 0;
}

/* Header */
#header-area {
    background: #333333;
    border-bottom: 1px solid #ff0000;
}

#logo {
    width: 100px;
}

.nav-link {
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.nav-item {
    color: #9d9d9d;
}

.nav-item:hover {
    color: #ffffff;
}

/* main */

main {
    background: #f1f1f1;
}

#main-area {
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px #888888;
    padding: 10px 0;
}

#card-primary:hover {
    box-shadow: 0px 0px 10px 0px #0d6efd;
}
#card-success:hover {
    box-shadow: 0px 0px 10px 0px #198754;

}#card-warning:hover {
    box-shadow: 0px 0px 10px 0px #ffc107;
}

/* calendario */

.row {
    display: flex;
    justify-content: center;
}

#tabela {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

#tabela thead tr th {
    border: 1px solid #ffc107;
    border-radius: 15px;
    height: 50px;

}

#tabela tbody tr th {
    background: #0d6efd;
    width: 50px;
    height: 50px;
    border: 1px solid #000;

}

#tabela tbody tr td {
    border: 1px solid #198754;
    width: 50px;
    height: 50px;
}

#tabela tbody tr td a {
    text-decoration: none;
}

#tabela tbody tr td a:hover {
    background: #0d6efd;
}








/* footer */
#footer-area {
    background: #555555;
    padding: 10px 0;
    text-align: center;
}

#footer-area p {
    margin: 10px 0;
    color: #ffffff;
}