{% extends "index.html" %}
{% block conteudo %}

        <main class="container">

            <table class="table">

                <thead>
                    <tr>
                      <th colspan="1"><</th>
                      <th colspan="5">{{ mes_ano }}</th>
                      <th colspan="1">></th>
                    </tr>
                  </thead>

                <tbody>
                    <tr>
                        {% for dias_ext in dias_da_semana %}
                            <th scope="col">{{ dias_ext }}</th>
                        {% endfor %}                    
                    </tr>

                    {% for semanas in calDays %}
                        <tr>
                        {% for dias in semanas %}
                            <td id="i_dia{{ dias }}" name="c_dia{{ dias }}"><a href="/evento/{{ dias }}/{{ mes }}/{{ ano }}">{{ dias }}</a></td>                                
                        {% endfor %}
                        </tr>
                    {% endfor %}            
                </tbody>
            </table>

            <div>
                <a href="/listar_eventos">Listar Eventos</a>
            </div>

        </main>
        
{% endblock %}