{% extends "index.html" %}
{% block conteudo %}

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-10 mx-auto col-lg-5">
                <form class="p-4 p-md-5 border rounded bg-light" action="{{ url_for('cadastrar_evento') }}" method="post">

                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="i_data" name="n_data" value="{{ data_completo }}"><!--Padrão yyyy-mm-dd -->
                        <label for="i_data">Data do evento</label> <!-- A data deverá vir do sistema -->
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_titulo" name="n_titulo" placeholder="Título">
                        <label for="i_titulo">Título</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_descricao" name="n_descricao" placeholder="Descrição">
                        <label for="i_descricao">Descrição</label>
                    </div>
                    <button type="submit" class="btn btn-md btn-success">Salvar</button>
                </form>
            </div>
        </div>
    </div>
        
{% endblock %}