{% extends "index.html" %}
{% block conteudo %}

    <div id="promo-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="main-title">Conheça nossos planos de assinaturas</h3>
                </div>
                <div class="col-md-4">
                    <div class="card text-center border-primary">
                        <div class="card-header">Grátis</div>
                        <div class="card-body text-primary">
                            <h5 class="card-title">R$ 0,00 por mês</h5>
                            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                            <button type="button" class="btn btn-md btn-primary" onclick = "window.location.href='/registro';">Registre-se</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center border-success">
                        <div class="card-header">Básico</div>
                        <div class="card-body text-success">
                            <h5 class="card-title">R$ 9,90 por mês</h5>
                            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                            <button type="button" class="btn btn-md btn-success" onclick = "window.location.href='/registro';">Registre-se</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center border-warning">
                        <div class="card-header">Premiun</div>
                        <div class="card-body text-warning">
                            <h5 class="card-title">R$ 29,90 por mês</h5>
                            <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                            <button type="button" class="btn btn-md btn-warning" onclick = "window.location.href='/registro';">Registre-se</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}