{% extends "index.html" %}
{% block navegacao %}

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calendario">Calendário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a> <!-- Tentat mudar de login para logoout depois que o usuário se logar. -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a> <!-- Tentat mudar de login para logoout depois que o usuário se logar. -->
                </li>
                <!-- Adicionar um campo que apareça o usuário logado. -->
            </ul>

{% endblock %}