{% extends "index.html" %}
{% block conteudo %}

        <form action="{{ url_for('cadastrar_usuario') }}" method="post">

            <div class="form-group col-md-3">
                <label for="i_nome">Nome Completo</label>
                <input type="text" class="form-control" id="i_nome" name="n_nome" placeholder="Nome completo">
            </div>
            <div class="form-group col-md-2">
                <label for="i_data_nascimento">Data de Nascimento</label>
                <input type="date" class="form-control" id="i_data_nascimento" name="n_data_nascimento">
            </div>
            <div class="form-group col-md-2">
                <label for="i_cpf">C.P.F.</label>
                <input type="text" class="form-control" id="i_cpf" name="n_cpf" placeholder="C.P.F.">
            </div>
            <div class="form-group col-md-2">
                <label for="i_username">Nickname</label>
                <input type="text" class="form-control" id="i_username" name="n_username" placeholder="Nickname">
            </div>
            <div class="form-group col-md-2">
                <label for="i_senha">Senha</label>
                <input type="password" class="form-control" id="i_senha" name="n_senha" placeholder="Senha">
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

{% endblock %}