{% extends "index.html" %}
{% block conteudo %}

    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-10 mx-auto col-lg-5">
                <form class="p-4 p-md-5 border rounded bg-light" action="{{ url_for('cadastrar_usuario') }}" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_nome" name="n_nome" placeholder="Nome completo">
                        <label for="i_nome">Nome Completo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="i_data_nascimento" name="n_data_nascimento">
                        <label for="i_data_nascimento">Data de Nascimento</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_cpf" name="n_cpf" placeholder="C.P.F.">
                        <label for="i_cpf">C.P.F.</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="i_username" name="n_username" placeholder="Nickname">
                        <label for="i_username">Nickname</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="i_senha" name="n_senha" placeholder="Senha">
                        <label for="i_senha">Senha</label>
                    </div>
                    <button type="submit" class="btn btn-md btn-success">Salvar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}