{% extends "index.html" %}
{% block conteudo %}

        <main class="container">

            <div class="card-columns">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Imagem de capa do card">
                    <div class="card-body">
                      <h5 class="card-title">Título do card</h5>
                      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    </div>
                </div>
            </div>

        </main>

        
        <div id="contact-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="main-title">Entre em contado conosco</h3>
                    </div>
                    <div class="col-md-4 contact-box">
                        <i class="fas fa-phone"></i>
                        <p><span class="contact-title">Ligue para:</span> (47)99991-3988</p>
                        <p><span class="contact-title">Horários:</span> 8:00 - 19:00</p>
                    </div>
                    <div class="col-md-4 contact-box">
                        <i class="fas fa-envelope"></i>
                        <p><span class="contact-title">Envie um e-mail:</span> david.simas@gmail.com</p>
                    </div>
                    <div class="col-md-4 contact-box">
                        <i class="fas fa-map-marker-alt"></i>
                        <p><span class="contact-title">Venha tomar um café:</span> Rua Falsa, 123</p>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}