{% extends "index.html" %}
{% block conteudo %}

    <div class="container" id="main-area">

        <div class="container" id="conteudo-titulo">
            <div class="text-center">
                <h2 class="mb-3">Nosso time</h2>
                <p>Construa uma tabela de preços para seus potenciais clientes, com esse exemplo Bootstrap. Além do mais, é feito com componentes padrões, utilitários e um pouquinho de customização.</p>
            </div>
        </div><!-- container -->
        <div class="container" id="conteudo-sobre">
            <div class="row justify-content-center">

                <div class="col-md-3 mb-5">
                    <div class="card text-center border-primary" id="card-primary">
                        <div class="card-header">Grátis</div>
                        <div class="card-body text-primary">

        
        <div id="contact-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="main-title">Entre em contado conosco</h3>
                    </div>
                    <div class="col-md-4 contact-box">
                        <i class="fas fa-phone"></i>
                        <p><span class="contact-title">Ligue para:</span> (47)99991-3988</p>
                        <p><span class="contact-title">Horários:</span> 8:00 - 19:00</p>
                    </div>
                    <div class="col-md-4 contact-box">
                        <i class="fas fa-envelope"></i>
                        <p><span class="contact-title">Envie um e-mail:</span> david.simas@gmail.com</p>
                    </div>
                    <div class="col-md-4 contact-box">
                        <i class="fas fa-map-marker-alt"></i>
                        <p><span class="contact-title">Venha tomar um café:</span> Rua Falsa, 123</p>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}